html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* header */

header {
    background-color: white;
    display: grid;
}

header h1 {
    margin: .5rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 13;
    justify-self: center;
}

.header-image {
    background-image: url("/img/header.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 40vw;
    text-align: center;
}

header h2 {
    text-align: center;
    padding-top: 3rem;
    color: white;
    font-size: xx-large;
}

header button {
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
  }

/* authors */

.authors {
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    grid-gap: 1em;
    background-color: #B4DADC;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.authors > h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left: 1rem;
    grid-row-start: 1;
    grid-row-end: 2;
}

.desc {
    grid-column-start: 8;
    grid-column-end: 13;
    font-size: medium;
    align-self: center;
    padding-left: 1rem;
    grid-row-start: 1;
    grid-row-end: 2;
}

.writers {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr); 
}

.card {
    grid-column-start: 6;
    grid-column-end: 8; 
    margin-left: 1rem;
    text-align: center;
    width: 350px;
}

.card > img {
    width: 350px;
    height: 350px;
}

.names {
    display: block;
}

/* grid */

.row {
    clear: both;
}

.column {
    float: left;
    padding: 0 2vw;
    margin: .75;
}

.small-12 {
    width: 100%;
}

.limited {
    max-width: 1450px;
    margin: auto;
}

/* footer */

footer {
    background-color: #B4DADC;
    font-size: 1.2rem;
}

footer h3, h4 {
    margin: 1rem 0 .3rem 0;
}

.colorfix::after {
    content: "";
    display: table;
    clear: both;
}

footer ul {
    list-style: none;
}

footer li {
    font-size: 14px;
}

footer div {
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    grid-gap: 1em;
}

.title {
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 13;
    justify-self: center;
}

.first {
    grid-column-start: 1;
    grid-column-end: 13;
}

.second {
    grid-column-start: 1;
    grid-column-end: 13;
}

.third {
    grid-column-start: 1;
    grid-column-end: 13;
}

.fourth {
    grid-column-start: 1;
    grid-column-end: 13;
}

/* medium screen */

@media only screen and (min-width: 786px) {
header h1 {
        font-size: 1.7rem;
    }

.header-image {
    height: 30vw;
}

header h2 {
    padding-top: 2rem;
}

.desc {
    grid-column-start: 9;
    grid-column-end: 13;
}

#jane, #maria, #kasey {
    grid-column-start: 1;
    grid-column-end: 5;
}

#bob, #ameria, #john {
    grid-column-start: 6;
    grid-column-end: 13;
}

#ameria {
    grid-row-start: 2;
}

.first {
    grid-column-start: 1;
    grid-column-end: 7;
}

.second {
    grid-column-start: 7;
    grid-column-end: 13;
}

.third {
    grid-column-start: 1;
    grid-column-end: 7;
}

.fourth {
    grid-column-start: 7;
    grid-column-end: 13;
}
} 

/* large screen */

@media only screen and (min-width: 1040px) {
header h1 {
        font-size: 1.9rem;
    }

.header-image {
        height: 25vw;
    }

header h2 {
    padding-top: 5rem;
}

.authors {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.desc {
    grid-column-start: 10;
    grid-column-end: 13;
}

#jane, #kasey {
    grid-column-start: 1;
    grid-column-end: 4;
}

#bob, #ameria {
    grid-column-start: 5;
    grid-column-end: 9;
}

#maria, #john {
    grid-column-start: 10;
    grid-column-end: 13;
}

.first {
    grid-column-start: 1;
    grid-column-end: 4;
}

.second {
    grid-column-start: 4;
    grid-column-end: 7;
}

.third {
    grid-column-start: 7;
    grid-column-end: 10;
}

.fourth {
    grid-column-start: 10;
    grid-column-end: 13;
}
} 